* {
  background-color: lightblue;
}

.vert {
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  height:60vw;
  z-index: 1;
}

.des {
  color: black;
}

.title {
  color: black;
  height: 100px;
  width: 100%;
  background-color: blue;
  text-align: center;
  font-weight: bold;

}

.anim {
  overflow: hidden;
}

.navi {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  position: relative;
  width: 80vw;
  margin: auto;

}

#header {
  text-align: center;
  position: fixed;
}

.divider {
  height: 34px;
}

h1 {
  text-align: auto;
  font-size: 30px;
  font-size: 2rem;
  text-shadow: -6px -10px 3px rgb(255, 255, 255);
}

header {
  text-align: auto;
  font-size: 30px;
  font-size: 2rem;
  text-shadow: -6px -6px 3px rgb(255, 255, 255);
}


.nav-link {
  align-items: center;
}

li,
section {
  text-align: center;
}

.invs {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: transparent;
}

@media only screen and (max-width: 550px) {
  .navi {
    font-size: 2rem;
  }
}

.pic {
  height: 700px;
  width: 80vw;
  justify-content: center;
  top: 900px;
}

.pic2 {
  justify-content: center;
}

.logo {
  border-radius: 0%;
  height: 111px;
  width: 111px;
  text-align: left;
  -webkit-box-reflect: right 111px;
  z-index: 1;
}

.subtitle {
  font-style: italic;
  font-size: 11px;
}

footer {
  color: black;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  position: relative;
  width: 80vw;
  margin: auto;

}

.number {
  color: navy;
}

.bb {
  left: -250px;
  width: 200px;
  height: 205px;
  position: relative;
  background-color: red;
  animation-name: baseball;
  animation-duration: 25s;
  border-radius: 50%;
  z-index: 2;
  transform: rotate(90deg);
  overflow: hidden;
}

.h1 {
  text-align: auto;
  margin-left: auto;
  margin-right: auto;
}

.bb2 {

  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  border-radius: 50%;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.baseballs {
  margin-left: auto;
  margin-right: auto;
  display: block;

  width: fit-content;
  padding: 10px;

}

@keyframes baseball {
  0% {
    left: -250px;
    top: 0px;
    transform: rotate(0deg)
  }

  25% {
    left: 100vw;
    top: 0px;
    transform: rotate(3600deg)
  }
}